@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic-ext);

.cmv_main{
	/*display:none;*/
	width:100%; 
	position:fixed; 
	bottom:0px;
	top:auto;
	right:0;
	z-index:9999999;
	background:rgba(255,255,255,.95);
	margin:0;
	padding:50px 0 30px 0;
	font-family:'Open Sans',sans-serif;
	font-size:12px;
	line-height:21px;
	font-weight:300;
	color:#000;text-align:center;
	border-top:1px solid #BFBFBF;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.cmv_main a{text-decoration:none;}
.cmv_main a:hover{color:#fff;text-decoration:none;}
.cmv_main__close {
	position:absolute;top:0px;right:13px;
	display:inline-block;
	width:38px;height:45px;
	background:url(../img/cmv_main__close.png) no-repeat 0 0;
}
.cmv_main__close:before{
	content:'\00D7';
	position:absolute;top:12px;left:5px;
	width:28px;height:28px;
	background:#d6d6d6;
	color:#fff;font-size:1.4em;
	line-height:1.4em;font-weight:600;
	border:3px solid #fff;
	-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
}
.cmv_main__cpr {
	position:absolute;
	bottom:7px;right:11px;
	display:inline-block;
	font-weight:bold;
	font-size:1em;
}
.cmv_textmid {
	display:block;
	width:90%;
	margin:10px auto;
}
.cmv_title{font-size:1.4em;}

/* BUTTONS

*/
.cmv_buttons__connect{margin-top: 10px;margin-bottom:15px;}
.cmv_button{
	display:block;
	margin-top: 10px;
	margin-left: 0;
	vertical-align:top;
	height:2.4em;
	color:#fff;font-size:1.4em;
	line-height:2.4em;text-align:center;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	box-shadow:inset 0 -2px 0 rgba(0,0,0,.20), 0 2px 6px rgba(0,0,0,.20);
	-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
}
.cmv_button__connect{
	display:block;
	margin:20px auto 0;
	width:162px;
}
.cmv_input__item, .cmv_input__time_select{
	display:inline-block;vertical-align:top;
	height:3em;
	font-family:'Open Sans',sans-serif;
	font-weight:300;
	color:#000;font-size:1.24em;
	outline:0;
	box-shadow:inset 0 3px 0 rgba(0,0,0,.06);
	border:1px solid #dcd6d9;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.cmv_input__item{
	width:80%;max-width:350px;
	padding:0 10px;
}
.cmv_buttons__with_time .cmv_input__item{
	width:55%;max-width:350px;
	padding:0 10px;
}
.cmv_input__time_select{
	/*padding:0 8px;*/
	/*margin-right:5px;*/
}
.cmv_input__item::-webkit-input-placeholder {color:#c0c0c0;}		
.cmv_input__item::-moz-placeholder {color:#c0c0c0;}
.cmv_input__item:focus::-webkit-input-placeholder {color:transparent;}
.cmv_input__item:focus::-moz-placeholder {color:transparent;}
.cmv_final__text {
	font-size: 1.4em;
}
.cmv_input__time,
.cmv_input__time_box {
	position:relative;
	display:inline-block;
}
.cmv_input__time span {
	display:inline-block;vertical-align:top;
	font-size: 1.24em;line-height:2.9em;
	margin-right:5px;
}

/* TIMER 

*/
.cmv__timer {
	display:inline-block;
	position: relative;
	top: 5px;
	font-size: 1.4em;
	line-height: 1.1em;
	margin-left: 26px;
}
.cmv__timer:before{
	content:'';
	position:absolute;top:-3px;left:-38px;
	width:31px;height:35px;
	background:url(../img/cmv_textmid__timer_small.png) no-repeat 0 0;
}




/*

.cmv_phone {
    position:fixed;z-index: 200000!important;
	right:70px;bottom:70px;
    cursor: pointer; 
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.cmv_phone__cir {
	position:absolute;
	top:50%;left:50%;
	width:50px;height:50px;
	border-radius:50%;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.cmv_phone__cir2 {
	position: absolute;
	top: 50%;left: 50%;
	width: 41px;height: 40px;
	border: 1px solid #fff;border-radius: 50%;
	background: transparent;
	margin: 5px 4px;
	opacity: .5;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.cmv_phone__cir3 {
	position:absolute;
	top:50%;left:50%;
	width:26px;height:26px;
	margin: 13px 13px;
	background:url(../img/cmv_mobile__phone.png) no-repeat 0 0;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

*/

/* ADRESS DEALERS BLOCK 

*/
.cmv_buttons__adress{
	position:relative;
	margin-bottom:15px;
}
.cmv_buttons__adress_label{
	/*display:inline-block;*/
	/*text-align:right;*/
	/*vertical-align: middle;*/
	/*width:47%;*/
	/*margin-right:1%;*/
}
.cmv_buttons__adress select.cmv_buttons__adress_select{
	/*top:0;*/
	/*left:49% !important;*/
	height:23px !important;
	/*width:auto !important;*/
	/*z-index:2;*/
}
.cmv_buttons__adress .customSelect {
	width:40%;
	display: inline-block;
	width: 50%;
	overflow: hidden;
	vertical-align: middle;
	text-align:left;
}
.cmv_buttons__adress .customSelectInner {
	width:auto !important;
	text-align:left;
	white-space:nowrap;
}

/* GEO 

*/
.cmv_menubar{
	position:absolute;
	top:15px;
	left:15px;
	width:250px;
}
.cmv_geo{
	position:relative;
	margin-bottom:15px;
}

#cmv_geo:focus, #cmv_dealers:focus {
  outline: none;
}
.cmv_geo__label{
	display:inline-block;
	vertical-align: middle;
	margin-right:1%;
}
.cmv_menubar select.cmv_geo__select{
	top:0;
	left:98px !important;
	height:23px !important;
	width:auto !important;
	z-index:2;
}
.cmv_menubar .customSelect {
	width:40%;
	display: inline-block;
	width: 50%;
	overflow: hidden;
	vertical-align: middle;
	text-align:left;
}
.cmv_menubar .customSelectInner {
	width:auto !important;
	text-align:left;
	white-space:nowrap;
}


/************************************************\

MOBILE TOUCH

\************************************************/


/* ANIM PHONE

*/
.cmv_phone {visibility:hidden;
    position:fixed;z-index: 200000!important;
    width:147px;height:147px;
    background-color: transparent;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
}
.cmv_phone.cmv_phone__show {visibility: visible;}

.cmv_phone__cir {
    position: absolute;top:0;left:0;
	width:160px;height:160px;
    background-color: transparent;
    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
    -webkit-animation: cmv_phone__cir_anim 2s infinite ease-in-out;-moz-animation: cmv_phone__cir_anim 2s infinite ease-in-out;-ms-animation: cmv_phone__cir_anim 2s infinite ease-in-out;-o-animation: cmv_phone__cir_anim 2s infinite ease-in-out;animation: cmv_phone__cir_anim 2s infinite ease-in-out;
}
@-moz-keyframes cmv_phone__cir_anim{0%{-moz-transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1;-moz-opacity:.1;-webkit-opacity:.1;-o-opacity:.1}30%{-moz-transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;-o-opacity:.5}100%{-moz-transform:rotate(0deg) scale(1) skew(1deg);opacity:.6;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.1}}@-webkit-keyframes cmv_phone__cir_anim{0%{-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0deg) scale(.7) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);-webkit-opacity:.1}}@-o-keyframes cmv_phone__cir_anim{0%{-o-transform:rotate(0deg) kscale(0.5) skew(1deg);-o-opacity:.1}30%{-o-transform:rotate(0deg) scale(.7) skew(1deg);-o-opacity:.5}100%{-o-transform:rotate(0deg) scale(1) skew(1deg);-o-opacity:.1}}@keyframes cmv_phone__cir_anim{0%{transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1}30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}}

.cmv_phone__cir2 {
    position: absolute;top:50%;left:50%;
	width:90px;height:90px;
	margin:-37px 0 0 -37px;
	opacity:.5;
    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
    -webkit-animation: cmv_phone__cir_anim2 2s infinite ease-in-out;-moz-animation: cmv_phone__cir_anim2 2s infinite ease-in-out;-ms-animation: cmv_phone__cir_anim2 2s infinite ease-in-out;-o-animation: cmv_phone__cir_anim2 2s infinite ease-in-out;animation: cmv_phone__cir_anim2 2s infinite ease-in-out;
	-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
}

@-moz-keyframes cmv_phone__cir_anim2{0%{-moz-transform:rotate(0deg) scale(0.9) skew(1deg);}50%{-moz-transform:rotate(0deg) -moz-scale(1) skew(1deg);}100%{-moz-transform:rotate(0deg) scale(0.9) skew(1deg);}}@-webkit-keyframes cmv_phone__cir_anim2{0%{-webkit-transform:rotate(0deg) scale(0.9) skew(1deg);}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);}100%{-webkit-transform:rotate(0deg) scale(0.9) skew(1deg);}}@-o-keyframes cmv_phone__cir_anim2{0%{-o-transform:rotate(0deg) scale(0.9) skew(1deg);}50%{-o-transform:rotate(0deg) scale(1) skew(1deg);}100%{-o-transform:rotate(0deg) scale(0.9) skew(1deg);}}@keyframes cmv_phone__cir_anim2{0%{transform:rotate(0deg) scale(0.9) skew(1deg);}50%{transform:rotate(0deg) scale(1) skew(1deg);}100%{transform:rotate(0deg) scale(0.9) skew(1deg);}}

.cmv_phone__cir3 {
    position: absolute;top:50%;left:50%;z-index:1;
	width:68px;height:68px;
    background-color: transparent;
	margin:-27px 0 0 -27px;
	border: 1px solid #fff;
	opacity:.5;
    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
	 /* -webkit-animation: cmv_phone__cir_anim3 1.2s infinite ease-in-out;-moz-animation: cmv_phone__cir_anim3 1.2s infinite ease-in-out;-ms-animation: cmv_phone__cir_anim3 1.2s infinite ease-in-out;-o-animation: cmv_phone__cir_anim3 1.2s infinite ease-in-out;animation: cmv_phone__cir_anim3 1.2s infinite ease-in-out; */
}
@-moz-keyframes cmv_phone__cir_anim3{0%{-moz-transform:rotate(0deg) scale(0.6) skew(1deg);opacity:.1;-moz-opacity:.1;-webkit-opacity:.1;-o-opacity:.1}30%{-moz-transform:rotate(0deg) scale(.8) skew(1deg);opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;-o-opacity:.5}100%{-moz-transform:rotate(0deg) scale(1) skew(1deg);opacity:.6;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.1}}@-webkit-keyframes cmv_phone__cir_anim3{0%{-webkit-transform:rotate(0deg) scale(0.6) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0deg) scale(.8) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);-webkit-opacity:.1}}@-o-keyframes cmv_phone__cir_anim3{0%{-o-transform:rotate(0deg) kscale(0.6) skew(1deg);-o-opacity:.1}30%{-o-transform:rotate(0deg) scale(.8) skew(1deg);-o-opacity:.5}100%{-o-transform:rotate(0deg) scale(1) skew(1deg);-o-opacity:.1}}@keyframes cmv_phone__cir_anim3{0%{transform:rotate(0deg) scale(0.6) skew(1deg);opacity:.1}30%{transform:rotate(0deg) scale(.8) skew(1deg);opacity:.5}100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}}

.cmv_phone__cir4 {
    position: absolute;top:50%;left:50%;
	width:74px;height:74px;
	margin:-30px 0 0 -30px;
    -webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;
    -webkit-animation: cmv_phone__cir4 2s infinite ease-in-out;-moz-animation: cmv_phone__cir4 2s infinite ease-in-out;-ms-animation: cmv_phone__cir4 2s infinite ease-in-out;    -o-animation: cmv_phone__cir4 2s infinite ease-in-out;animation: cmv_phone__cir4 2s infinite ease-in-out;
}
.cmv_phone:hover .cmv_phone__cir2{opacity:1;}
.cmv_phone__mobile {background:url(../img/cmv_phone__mobile.png) no-repeat 50% 50%;}
.cmv_phone__handset {background:url(../img/cmv_phone__handset.png) no-repeat 50% 50%;}
@keyframes cmv_phone__cir4{0%{transform:rotate(0deg) scale(1) skew(1deg)}10%{transform:rotate(-25deg) scale(1) skew(1deg)}20%{transform:rotate(25deg) scale(1) skew(1deg)}30%{transform:rotate(-25deg) scale(1) skew(1deg)}40%{transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{transform:rotate(0deg) scale(1) skew(1deg)}}@-moz-keyframes cmv_phone__cir4{0%{transform:rotate(0deg) scale(1) skew(1deg)}10%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-moz-transform:rotate(0deg) scale(1) skew(1deg)}}@-webkit-keyframes cmv_phone__cir4{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}}@-o-keyframes cmv_phone__cir4{0%{-o-transform:rotate(0deg) scale(1) skew(1deg)}10%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-o-transform:rotate(25deg) scale(1) skew(1deg)}30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-o-transform:rotate(0deg) scale(1) skew(1deg)}}


.cmv_phone {
    left: 50%;
    margin-left: -78px;
    bottom: 0;
}

.cmv_phone {
     transition: all .3s ease-in-out;   
}

.cmvtouchhover {
    -webkit-transform: scale(0);
    transform: scale(0);
}


/*****************************************\

Regions Mobile

\*****************************************/

.cmv-phone-regions {    
    background: white;    
    transition: all .3s cubic-bezier(.05, 1.07, .1, 1.46);
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -120px;    
   
}

.cmv-phone-regions a {
    display: block;
    color: #222;
    text-decoration: none;
    padding: 20px 0;
    border-bottom: 1px solid #eee; 
}

.cmv-phone-regions li a:first-child {
     padding-left: 20px; 
}

.overlayMobile {
    position: fixed;   
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
/*   transition: all .1s;*/
    z-index: -1;  
}

.regionsTop {
    margin-top: 0;
}

.cmvClose{
   background-image: url(/img/close_thin.png);
}



