.cmv_button__yes,.cmv_button__connect,.cmv_button__notime,.jRatingAverage,.jRatingColor,.cmv_main__close:hover:before,.cmv_phone__cir2,.cmv_phone__mobile,.cmv_phone__handset{background-color:#000;}
.cmv_button__connect:hover,.cmv_button__notime:hover,.cmv_button__yes:hover{background:#363636;box-shadow:0 0 1px rgba(0,0,0,.22);}
.cmv_button__connect:active,.cmv_button__notime:active,.cmv_button__yes:active{background:#191919;}
.cmv_button__no{background:#9e9e9e;margin-left:9px;}
.cmv_button__no:hover{background:#aaa;box-shadow:0 0 1px rgba(0,0,0,.22);}
.cmv_button__no:active{background:#8b8b8b;}
.cmv_input__item.cmv_input__item_error,.cmv_input__item2.cmv_input__item_error {border:1px solid #ff0000;}
.cmv_phone__cir{border:2px solid #000;}
.cmv_main__cpr{color:#000!important;}
.cmv_main .cmv_main__cpr:hover {color:#000!important;}
.cmd_geo_value, .cmd_branchoffice_value {color:#000!important;border-color: #000!important;}